<!DOCTYPE html>
<html lang="ja">
    <body>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1, width=device-width">
            <link href="../static/style.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+Xm0a5inpjN0uod6wYYt18ByOQoBfB"
                crossorigin="anonymous">
            <title>Color Selected</title>
        </head>
        <body>
            <header>
                <ul id="pcNav">
                    <li><a href="">ホーム</a></li>
                </ul>
                <input id="checkbox" type="checkbox">
                <label id="lineMenu" class="menu-check" for="checkbox">
                <span></span><span></span>
                <p>MENU</p>
                </label>
                <nav id="globalNav">
                <ul>
                    <li><a href="">ホーム</a></li>
                </ul>
                </nav>
            </header>
            <main>
                <div id="mv">
                    <div class="container mt-3">
                        {% for color in matches_colors %}
                            <div class="card" style="background-color: #{{ color.matching_color_code }};"></div>
                            <h2>{{ color.matching_color_name }}</h2>
                        {% endfor%}
                    </div>
                </div>
            </main>
    </body>
</html>